* {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    height: 160px;
    background-color: #379BDF;
    color: black;
    padding-top: 1%;
   }
   
footer {
    width: 100%;
    height: 40px;
    background-color: #379BDF;
    color: black;
   
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
    padding-top: 10px;
    
    
}
img {
    display: block;
    height: 50px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
}

ul {
    padding-left: 40px;
    padding-top: 1%;
    padding-bottom: 1%;
    font-size: 20px;
}

p {
    text-align: center;
    font-size: 30px;
}

.card {
    width: 80%;
    margin: 40px auto;
    border: 5px solid black;
    box-shadow: 5px 10px #950F5C;

}